# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Local code & files
known_goods
checkers
output
reports
test
log
